/*Title*/
.title {
    padding-top: 30px;
}

/*Body Format*/
body {
    background-color: rgb(225, 216, 233);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(15, 3, 22);
}
    
/*Box Formatting*/
.a {
    margin-top: 64px;
    background-color: whitesmoke;
    padding-top: 16px;
    padding-right: 27px;
    padding-left: 27px;
    padding-bottom: 16px;
}

.crop {
    max-height: 200px;
    max-width: 500px;
    overflow: hidden;
}